<!-- 타임리프 문법을 볼 수 있다. -->
<!DOCTYPE html>
<!--XHTML 문서를 위한 XML 네임스페이스를 명시하는 것으로, 생략해도 정상동작합니다. ( 참고 )-->
<!--IntelliJ에서 thymeleaf 문법 사용 시, 문법 에러가 발생하여 추가하였습니다.-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- HEADER -->
<!--th:insert-->
<!--헤더와 푸터처럼 다른 페이지를 현재 페이지에 삽입하는 역할을 합니다. ( 참고 )-->
<!--JSP의 include와 같습니다.-->
<div th:insert="common/header.html" id="header"></div>

<!--th:href-->
<!--thymeleaf에서 html 속성은 대부분 이처럼 th: 으로 바꿔서 사용할 수 있습니다.-->
<!--@{ } 의 의미는 애플리케이션이 설치된 경로를 기준으로 하는 상대경로 입니다. ( 참고 )-->
<!--예제에서 @{/post}는 URL이 http://localhost:8080/post 가 되겠네요-->
<a th:href="@{/post}">글쓰기</a>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>